src/org/jkpml/xsd/kpml/kpml.examples.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XML Spy v4.2 (http://www.xmlspy.com) by John Bateman (University of Bremen) -->
<!--W3C Schema generated by XML Spy v4.2 (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="COMMENTS" type="xs:string"/>
	<xs:element name="EXAMPLES">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="COMMENTS"/>
				<xs:element ref="IN-LANGUAGE"/>
				<xs:element name="example" type="exampleType" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="F" type="xs:string"/>
	<xs:complexType name="FEATURESType">
		<xs:sequence>
			<xs:element ref="F" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FUNCTIONType">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="METAFUNCTION" type="xs:string" use="required"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="FUNCTIONSType">
		<xs:sequence>
			<xs:element name="FUNCTION" type="FUNCTIONType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="GLOSS" type="xs:string"/>
	<xs:element name="IN-LANGUAGE" type="xs:string"/>
	<xs:element name="LEXEME" type="xs:string"/>
	<xs:element name="TRANSLITERATION">
		<xs:complexType/>
	</xs:element>
	<xs:element name="attribute" type="xs:string"/>
	<xs:complexType name="attributeValuePairType">
		<xs:sequence>
			<xs:element ref="attribute"/>
			<xs:element name="value" type="valueType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="child" type="xs:string"/>
	<xs:complexType name="constituentType">
		<xs:sequence>
			<xs:element ref="TRANSLITERATION"/>
			<xs:element ref="GLOSS"/>
			<xs:element ref="LEXEME"/>
			<xs:element name="FUNCTIONS" type="FUNCTIONSType"/>
			<xs:element name="FEATURES" type="FEATURESType"/>
			<xs:element name="subconstituents" type="subconstituentsType"/>
		</xs:sequence>
		<xs:attribute name="id" type="xs:string" use="required"/>
		<xs:attribute name="semantics" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:complexType name="exampleType" mixed="true">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element ref="name"/>
			<xs:element ref="generatedForm"/>
			<xs:element ref="targetForm"/>
			<xs:element ref="gloss"/>
			<xs:element name="logicalForm" type="logicalFormType"/>
			<xs:element name="expansions" type="expansionsType"/>
			<xs:element name="preselections" type="preselectionsType"/>
			<xs:element name="selectionexpressions" type="selectionexpressionsType"/>
			<xs:element ref="setname"/>
			<xs:element name="structures" type="structuresType"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="expansionType">
		<xs:sequence>
			<xs:element ref="parent"/>
			<xs:element ref="child" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="cycle" type="xs:byte" use="required"/>
	</xs:complexType>
	<xs:complexType name="expansionsType">
		<xs:sequence>
			<xs:element name="expansion" type="expansionType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="f" type="xs:string"/>
	<xs:element name="generatedForm" type="xs:string"/>
	<xs:element name="gloss" type="xs:string"/>
	<xs:element name="identifier" type="xs:string"/>
	<xs:element name="literal" type="xs:string"/>
	<xs:complexType name="logicalFormType">
		<xs:sequence>
			<xs:element name="spl" type="splType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="name" type="xs:string"/>
	<xs:element name="parent" type="xs:string"/>
	<xs:complexType name="preselectionType">
		<xs:sequence>
			<xs:element ref="unit"/>
			<xs:element ref="f" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="preselectionsType">
		<xs:sequence>
			<xs:element name="preselection" type="preselectionType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="selectionexpressionsType">
		<xs:sequence>
			<xs:element name="selexp" type="selexpType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="selexpType">
		<xs:sequence>
			<xs:element ref="unit"/>
			<xs:element ref="f" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="sem" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:element name="setname" type="xs:string"/>
	<xs:complexType name="splType">
		<xs:sequence>
			<xs:element ref="identifier"/>
			<xs:element ref="symbol"/>
			<xs:element ref="type"/>
			<xs:element name="attributeValuePair" type="attributeValuePairType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="string" type="xs:string"/>
	<xs:complexType name="structuresType">
		<xs:sequence>
			<xs:element name="constituent" type="constituentType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="subconstituentsType">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="constituent" type="constituentType"/>
			<xs:element ref="string"/>
		</xs:choice>
	</xs:complexType>
	<xs:element name="symbol" type="xs:string"/>
	<xs:element name="targetForm" type="xs:string"/>
	<xs:element name="type" type="xs:string"/>
	<xs:element name="unit" type="xs:string"/>
	<xs:complexType name="valueType">
		<xs:choice>
			<xs:element ref="literal"/>
			<xs:element name="spl" type="splType"/>
		</xs:choice>
	</xs:complexType>
</xs:schema>
